<AuthorizeView>
    <Authorized>
        <span class="oi oi-person" style="margin-right: 10px"></span> @context.User.Identity.Name
        <a class="btn btn-outline-secondary" href="logout">Sign Out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-secondary" href="login">Sign In</a>
        <a class="btn btn-outline-secondary" href="registration">Sign Up</a>
    </NotAuthorized>
</AuthorizeView>