@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="oi oi-home navbar-brand" href=""> Blog Del-2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (_isUserAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Blog/Create">
                    <span class="oi oi-grid-four-up" aria-hidden="true"></span> Create Blog
                </NavLink>
            </div>
        }
        
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    private bool _isUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isUserAuthenticated = user.Identity.IsAuthenticated;
    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
