@page "/"
@using ProsjektOppgaveBlazor.Data.CommonModels
@using Newtonsoft.Json

<div class="input-group rounded">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Blogs</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                <tr class="text-white">
                    <th scope="col">Date</th>
                    <th scope="col">Author</th>
                    <th scope="col">Title</th>
                    <th scope="col">More info</th>
                </tr>
                </thead>
                <tbody>
                
                @for (int i = 0; i < _blogs.Length; i++)
                {
                    <tr>
                        <td></td>
                        <td>@_blogs[i].Owner.UserName</td>
                        <td>@_blogs[i].Name</td>
                        <td><a class="btn btn-primary" href="/blogs/view/@_blogs[i].BlogId">More info</a></td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    private HttpClient _httpclient = new HttpClient();
    private BlogModel[] _blogs = new BlogModel[0];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           HttpResponseMessage responseMessage = await _httpclient.GetAsync("https://localhost:7022/blogs");
              if (responseMessage.IsSuccessStatusCode)
              {
                  string _jsonResponse = await responseMessage.Content.ReadAsStringAsync();
                  _blogs = JsonConvert.DeserializeObject<BlogModel[]>(_jsonResponse);
                  StateHasChanged();
              }
        }
    }


}
