@page "/"

<div class="input-group rounded">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All _blogModels</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                <tr class="text-white">
                    <th scope="col">Date</th>
                    <th scope="col">Author</th>
                    <th scope="col">Title</th>
                    <th scope="col">More info</th>
                </tr>
                </thead>
                <tbody>
                @* @foreach (var _blogModel in Model.BlogModels) *@
                @* { *@
                @*          *@
                @*     <tr> *@
                @*         <td>@_blogModel.CreatedAt.ToString("dd MMM yyyy")</td> *@
                @*         <td>@_blogModel.User.Username</td> *@
                @*         <td>@_blogModel.Title</td> *@
                @*         <td> *@
                @*             <a class="btn btn-sm btn-primary" href="@Url.Action("BlogModelDetails","BlogModel", new {@id = _blogModel.Id})">Detail</a> *@
                @*         </td> *@
                @*     </tr> *@
                @* } *@
                </tbody>
            </table>
        </div>
    </div>
</div>
