@page "/login"

@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@using ProsjektOppgaveBlazor.AuthProviders
@using ProsjektOppgaveBlazor.Data.CommonModels

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Authorisation</h4>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" placeholder="username" @bind="loginViewModel.Username"/><br/>
                <input type="password" class="form-control" placeholder="password" @bind="loginViewModel.Password"/>
            </div>
            <div class="card-footer">
                <input type="button" class="btn btn-success" value="Sign In" @onclick="HandleRegistration"/>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@code {

    private LoginViewModel loginViewModel = new LoginViewModel();
    
    private bool ShowError { get; set; }
    private string Error { get; set; }
    private string Username { get; set; }
    private string email { get; set; }
    private string Password { get; set; }

    private async Task HandleRegistration()
    {
        ShowError = false;
        
        var result = await AuthenticationService.Login(loginViewModel);

        if (result.success)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}