@page "/registration"
@using Newtonsoft.Json
@using System.Text
@using ProsjektOppgaveBlazor.data.Models.ViewModel
@using ProsjektOppgaveBlazor.AuthProviders
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Registrationfdbsfbsdfbsdfbsdfbsdbf</h4>
            </div>
            <div class="card-body">
                <input type="text" class="form-control" placeholder="username" @bind="RegisterViewModel.username"/><br/>
                <input type="email" class="form-control" placeholder="email" @bind="RegisterViewModel.email"/>
                <input type="password" class="form-control" placeholder="password" @bind="RegisterViewModel.password"/><br/>
            </div>
            <div class="card-footer">
                <input type="button" class="btn btn-success" value="Sign Up" @onclick="HandleRegistration"/>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


@code {
    private RegisterViewModel RegisterViewModel = new RegisterViewModel();
    
    private bool ShowError { get; set; }
    private string Error { get;set; }
    private string Username { get; set; }
    private string Email { get; set; }
    private string Password { get; set; }

    private async Task HandleRegistration()
    {
        ShowError = false;
        
        var result = await AuthenticationService.RegisterUser(RegisterViewModel);

        if (result.success)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Error = result.message;
            ShowError = true;
        }
    }
    

}