@page "/comment"
@using ProsjektOppgaveBlazor.Data.CommonModels

@inject HttpClient BlogHttpClient

<h3>Create post</h3>

@if (_commentModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@_commentModel" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label for="Name">CommentModel:</label>
                        <InputText class="form-control" @bind-Value="_commentModel.Text" />
                        <ValidationMessage For="@(()=>_commentModel.Text)" />
                    </div>

                        <button class="btn btn-primary" type="submit">Save</button>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int CommentId { get; set; }


    private CommentModel _commentModel = new CommentModel();


    private async Task Save()
    {

        var response = await BlogHttpClient.PostAsJsonAsync("https://localhost:7022/Comment", _commentModel);
    }

}