<CascadingAuthenticationState>
    
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">


                <NotAuthorized>
                    <a href="register">Register</a>
                    <a href="login">Login</a>
                </NotAuthorized>
                
            </AuthorizeRouteView>

        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <CustomNotFound />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


