@page "/blogs"
@using ProsjektOppgaveBlazor.data.Models;
@inject HttpClient BlogHttpClient
@inject NavigationManager NavigationManager

<h3>Blogs</h3>

<a class="btn btn-primary" href="blog">Create</a>

@if (blogs == null) 
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var blog in blogs)
    {
        <tr>
            <td>@blog.Name</td>
            <td>@blog.Owner.Email</td>
            <td><a href="posts/@blog.BlogId">View</a></td>
            <td><a href="blog/@blog.BlogId">Edit</a></td>
            <td><a href="blogs" @onclick="@(e =>DeleteBlog(blog.BlogId))">Delete</a></td>
        </tr>
    }
    </tbody>
    </table>
}

@code {
    private Blog[] blogs;

    protected override async Task OnInitializedAsync()
    {
        blogs = await BlogHttpClient.GetFromJsonAsync<Blog[]>("https://localhost:7022/Blog");
    }

    private async Task DeleteBlog(int id)
    {
        var response = await BlogHttpClient.DeleteAsync($"https://localhost:7022/Blog/{id}");
    }
}
