
@page "/blog/{BlogId:int}"
@using ProsjektOppgaveBlazor.Data.CommonModels

@inject HttpClient BlogHttpClient

<h3>Edit _blogModel</h3>

@if (_blogModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="@_blogModel" OnValidSubmit="Save">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <div>
                        <label for="Name">BlogModel Name:</label>
                        <InputText class="form-control" @bind-Value="_blogModel.Name"/>
                        <ValidationMessage For="@(()=>_blogModel.Name)"/>
                    </div>
                    <div class="form-check form-switch">
                        <label for="Status">Allow post and comments</label>
                        <InputCheckbox class="form-check-input" @bind-Value="Status"/>
                        <ValidationMessage For="@(()=>_blogModel.IsOpen)" />
                    </div>
                    @*@if (_blogModel.BlogModelTags != null)
                    {
                        <div>
                            <label for="Tags">Tags:</label>
                            <textarea class="form-control" readonly>@showTags()</textarea>

                        </div>
                    }*@
                        <button class="btn btn-primary" type="submit">Save</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int BlogId { get; set; }

    private bool Status
    {
        get
        {
            if (_blogModel.IsOpen != true)
            {
                return false;
            }
            else
            {
                return true;
            }
        }
        set
        {
            if (!value)
            {
                _blogModel.IsOpen = false;
            }
            else
            {
                _blogModel.IsOpen = true;
            }
        }
    }

    @*string showTags()
    {
        string tags = "";
        int length = _blogModel.BlogModelTags.Count();
        int index = 0;
        foreach (var tag in _blogModel.BlogModelTags)
        {
            if (length > 0)
            {
                tags += tag + ", ";
                index += 1;
            }
            else
            {
                tags += tag;
            }


        }
        return tags;
    }*@

    private BlogModel _blogModel;
    protected override async Task OnInitializedAsync()
    {
        _blogModel = await BlogHttpClient.GetFromJsonAsync<BlogModel>($"https://localhost:7022/Blog/{BlogId}");
    }

    private async Task Save()
    {
        var response = await BlogHttpClient.PutAsJsonAsync($"https://localhost:7022/Blog/{BlogId}", _blogModel);
    }

}