@using ProsjektOppgaveBlazor.Data.CommonModels
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.SignalR.Client
@using ProsjektOppgaveBlazor.Pages.Blog
@inject IJSRuntime JsRuntime

<input type="button" class="btn btn-outline-dark float-end" value="add post" @onclick="() => _modalDialog.Open()"/>
<ModalDialog Title="Create new post" @ref="_modalDialog">
                <div class="modal-body bg-secondary rounded h-100 p-4">
    
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" id="post-title" @bind="_postModel.Title">
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label">Content</label>
                        <input type="text" class="form-control" id="post-content" @bind="_postModel.Content">
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button id="btnCreate" type="button" style="margin-bottom: 10px" class="btn btn-success" 
                            @onclick="CreateNewPostHandler">Create</button>
    
                    <div id="create-success-label" class="alert alert-success d-none">
                        Created successfully!
                    </div>
                    <div id="create-error-label" class="alert alert-danger d-none">
                        Error on created!
                    </div>
                </div>
</ModalDialog>

@code {
    
    [CascadingParameter]
    public View ParentComponent { get; set; }
    
    [Parameter]
    public int BlogId { get; set; }
    
    private ModalDialog _modalDialog = new ModalDialog();
    private PostModel _postModel = new PostModel();
    private HttpClient _httpClient = new HttpClient();
    private ElementReference _hideModalBtn = new ElementReference();
    
    private async Task CreateNewPostHandler(MouseEventArgs e)
    {
        if (e.Button == 0)
        {
            _postModel.BlogId = BlogId;
            
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await JsRuntime.InvokeAsync<string>("localStorage.getItem", "authToken"));
            HttpResponseMessage response = await _httpClient.PostAsJsonAsync("https://localhost:7022/api/post/create", _postModel);
            if (response.IsSuccessStatusCode)
            {
                _modalDialog.Close();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        HubConnection hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7022/api/post/create")
            .Build();

        await hubConnection.StartAsync();
        hubConnection.On<PostViewModel>("PostCreateNotify", async (post) =>
        {
            if (post.BlogId == BlogId)
            {
                ParentComponent.AppendPost(post);
            }
            _postModel.Title = "";
            _postModel.Content = "";
            await InvokeAsync(StateHasChanged);
        });

        StateHasChanged();
    }


}