@using ProsjektOppgaveBlazor.Data.CommonModels
<br/>
            <div id="post-container-">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h5 class="col-md" style="color: black">
                                @Post.Title
                            </h5>
                        </div>

                    </div>
                    
                    <div class="card-body">
                        <p>
                           @Post.Content
                        </p>
                        
                        <br/>
                        <hr/>
                        <br/>
                        <div id="comments-section-">
                       
                            <h6 style="color: black">Comments:</h6>
                            
                            <div id="comments-container-">
                                    <div id="comment-" class="d-flex justify-content-between align-items-center border-bottom mb-2 pb-2">
                                        <span></span>
                                        <div>
                                                <button class="btn btn-sm btn-outline-secondary" onclick="" data-bs-target="#edit-comment-modal" data-bs-toggle="modal">Edit</button>

                                         
                                                <button class="btn btn-sm btn-outline-danger" onclick="">Delete</button>
                                            
                                        </div>
                                    </div>

                            </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Write a comment..." id="comment-input-">
                                    <button class="btn btn-outline-secondary" type="button" onclick="">Comment</button>
                                </div>
                        </div>
                        
                    </div>
                        <div class="card-footer">
                            <input type="button" class="btn btn-danger" value="Delete" id="remove-post-"/>
                            <input type="button" class="btn btn-warning" value="Edit" id="edit-post-" data-bs-target="#edit-post-modal" data-bs-toggle="modal" onclick=""/>
                        </div>
                </div>
                <br />
            </div>
@code {
    
    [Parameter]
    public PostViewModel Post { get; set; }
    
    
}