@page "/posts/{BlogId}"
@using ProsjektOppgaveBlazor.Data.CommonModels
@inject HttpClient BlogHttpClient
@inject NavigationManager NavigationManager

<h3>PostModels</h3>

<a class="btn btn-primary" href="post">Create</a>

@if (posts == null) 
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" >
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in posts)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Content</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    </tbody>
    </table>
}

@code {
    [Parameter]
    public string BlogId { get; set; }
    private PostModel[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await BlogHttpClient.GetFromJsonAsync<PostModel[]>($"https://localhost:7022/Post?blogId={BlogId}");
    }

    private async Task DeleteBlog(int id)
    {
        var response = await BlogHttpClient.DeleteAsync($"https://localhost:7022/Post/{id}");
    }
}
